.preferens {
	.main__title {
		
		height: 25px;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.subtitle-18 {
		font-size: 16px;
		font-weight: 400;
	}
	 .line {
		height: 18px;
	}
}
.bold__title {
	color: #1b1b1b;
	margin-bottom: 7px;
	font-size: 18px;
	font-weight: 700;
}
.main__title {
	display: flex;
	color: #ff6470;
	margin-left: 34px;
	max-width: 350px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 60px;
	text-align: center;
}
.line {
	width: 3px;
	height: 75%;
	margin-right: 13px;
	background-image: linear-gradient(to top, #2cc121 0%, #3ada2e 100%);
	border-left: 3px solid linear-gradient(to top, #2cc121 0%, #3ada2e 100%);
}
.main__title-wrap {
	display: flex;
}
.all-pref-block {
	display: flex;
	margin-bottom: 40px;
}
.pref-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 60px;

}
.pref-block {
	display: flex;
	cursor: pointer;
    
}
.pref-profile {
	min-width: 230px;
	width: 24%;
	align-items: center;
	padding: 10px;
	margin-bottom: 20px;
	img {
		margin-bottom: 15px;
	}
}
.right_title {
	font-size: 16px;


}
.we-wrap {
	padding: 34px;
	padding-top: 0;
	line-height: 25px;
}
.right_title {
	
}
.left-pref-wrap {
		width: 50%;
		    border-radius: 5px;
		cursor: pointer;
		transition: box-shadow .2s;
			&:hover {
				box-shadow: 0 9px 58px rgba(93, 26, 31, 0.18);
				
			}
}
.right-pref-wrap {
	width: 50%;
	    border-radius: 5px;
	cursor: pointer;
	transition: box-shadow .2s;
		&:hover {
			box-shadow: 0 9px 58px rgba(93, 26, 31, 0.18);
			
		}
}
.text-prof-wrap {
	      padding-top: 153px;
    padding-left: 20px;
}
.left-model-prof {
	position: relative;
	min-width: 225px;
	width: 20%;
	height: 270px;
	border-radius: 5px;
	margin-right: 20px;
	background-color: #2a252c;
	margin-bottom: 32px;
	z-index: 1;
	cursor: pointer;
	
	&:hover .order {
		transform: scale(1.1);
		color: #3ad92e;
	}

}
.img-model {
	position: absolute;
	left: 72px;
    top: -31px;
    z-index: -1;
}
#img-model-2 {
	top: -28px;
}
.sub-profile {
	color: #ffffff;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 400;
}
.main-profile {
	font-family: "Montserrat - Bold";
	font-size: 18px;
	font-weight: 700;
	color: #fff;

}
.order {
	color: #ffffff;
	margin-top: 50px;
	font-size: 12px;
	font-weight: 800;
	text-transform: uppercase;
	cursor: pointer;
	transition: transform .2s, color .2s;
}
.znak {
	margin-left: 6px;
	font-weight: 400;
	font-size: 10px;
}
.models-wrap {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#text-prof-wrap-2 {
	padding-top: 53px;
}

#img-model-4 {
	top: -23px;
}
.right-mini-wrap {
	display: flex;
	justify-content: space-between;
}
.left-model-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#left-model-prof-1 {
	background-color: #3e3d49;
	.img-model {
		left: 41px;  
	}
}
#left-model-prof-2 {
	background-color: #2b2026;
	.img-model {
	    position: absolute;
	    left: 68px;
	    top: -19px;
	}
	.order {
		margin-top: 30px;
	}
}
#left-model-prof-3 {
	background-color: #f5bf32;
	.img-model {
	    position: absolute;
	    left: 78px;
	    top: -12px;
		}
		.order {
				margin-top: 30px;
			}
		
}
#left-model-prof-4 {
	background-color: #8892b5;
	.img-model {
	    position: absolute;
	    left: 81px;
	    top: -14px;
	}
	.order {
			margin-top: 30px;
		}
	
}
@media (max-width: 1081px) {
	.right-model-block {
	    width: 35%;
	}
	
	
}
@media (max-width: 979px) {
	.left-model-block {
		justify-content: center;
	}
	.left-model-prof {
		width: 32%;
	}
}
@media (max-width: 887px) {
	.models-wrap {
		flex-direction: column;
		width: 310px;
		margin: 0 auto;
		
	}

}
@media (max-width: 602px) {
	.all-pref-block {
		flex-direction: column;
	}
	.left-pref-wrap {
		width: 100%;
	}
	.right-pref-wrap {
		width: 100%;
	}
}

@media (max-width: 459px) {
	.pref-wrap {
		flex-direction: column;
	}
	.pref-profile {
		margin: 0 auto;
	}
}
